.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: orange;
}

.header p {
  padding: 0px 24px;
  color: white;
  font-weight: 900;
  font-size: 26px;
}
