.todo-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 30px 0;
  width: 100%;
}

.todo-list-container__working,
.todo-list-container__done {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.todo-list-container__title {
  font-weight: 800;
  font-size: 30px;
}
